.loginNav {
	position: relative;
	
	button {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.7em 1em;
		font-weight: 600;
		color: var(--fg-color);
		background-color: var(--ac-color);
		border-radius: 10px;
		gap: 1em;
		width: calc(6ch + 4em);
		overflow: hidden;

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.2em;
		}
	}

	form {
		position: absolute;
		top: 3.5em;
		right: 0;
		background-color: var(--bg-color);
		z-index: 10;
		border: 3px solid var(--ac-color);
		padding: 1em;
		border-radius: 20px;
		width: 20em;
		gap: 1em;

		button {
			width: 100%;
			height: 3em;
		}
	}
}