.reservations {
	width: 100%;
	height: calc(100dvh - 5em);
	padding: 2em;
	display: flex;
	flex-direction: column;
	gap: 2em;

	.list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
		grid-auto-rows: max-content;
		gap: 2em;

		.reservation {
			width: 100%;
			height: 100%;
			border: 3px solid var(--ac-color);
			border-radius: 15px;
			padding: 1.5em;
			display: flex;
			cursor: pointer;
			position: relative;
			background-color: var(--bg-color);
			transition: 0.2s cubic-bezier(0.65,0.05,0.36,1);
			user-select: none;

			&::before {
				z-index: -1;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				border: 3px solid var(--ac-color);
				background-color: var(--ac-color);
				position: absolute;
				border-radius: 15px;
				opacity: 0;
				transition: 0.2s cubic-bezier(0.65,0.05,0.36,1);
			}

			&:hover {
				&::before {
					opacity: 1;
					translate: 1em 1em;
				}
			}
			
			&:active {
				&::before {
					opacity: 1;
					translate: 0.5em 0.5em;
					transition: 0.1s cubic-bezier(0.65,0.05,0.36,1);
				}
			}

			.info {
				display: flex;
				flex-direction: column;
				gap: 1em;

				.title {
					display: flex;
					flex-direction: column;

					.order {
						font-weight: 700;
						font-size: 1.5em;
					}

					.date {
						opacity: 0.5;
						font-size: 0.9em;
					}
				}

				.data {
					display: flex;
					flex-direction: column;
					gap: 0.5em;
					
					.daysUntil {
						font-size: 1.1em;
					}

					.status {
						font-size: 0.9em;
						opacity: 0.5;

						span {
							display: flex;
							gap: 0.5em;
							align-items: center;

							&.capitalize {
								text-transform: capitalize;
							}

							.icon {
								display: flex;
								align-items: center;
								justify-content: center;
							}
						}
					}
				}
			}

			.vehicle {
				height: calc(100% + 3em);
				max-width: 10em;
				position: relative;
				translate: 1.5em -1.5em;
				margin-left: auto;

				img {
					transform: scaleX(-1);
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: right center;
				}
			}
		}
	}
}